* {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.game-areas {
  display: flex;
  gap: 2rem;
}

.gameboard {
  display: grid;
  width: max-content;
  border: 0.1rem solid black;
  background-color: white;
}

.square {
  border: 0.05rem solid black;
  position: relative;
}

.square.with-background-ship {
  transform-style: preserve-3d;
}

.square.with-background-ship .ship {
  transform: translateZ(-1px);
}

.ships {
  display: flex;
  gap: 1rem;
}

.ship {
  display: grid;
  z-index: 1;
}

.ship.on-gameboard {
  position: absolute;
}

.ship-square.full {
  background-color: black;
  grid-column: 1 / span 2;
}

.ship-square.top-left {
  background-image: linear-gradient(to bottom right, transparent 50%, black 50%);
  grid-column: 1;
}

.ship-square.top-right {
  background-image: linear-gradient(to bottom left, transparent 50%, black 50%);
  grid-column: 2;
}

.ship-square.bottom-left {
  background-image: linear-gradient(to bottom left, black 50%, transparent 50%);
  grid-column: 1;
}

.ship-square.bottom-right {
  background-image: linear-gradient(to bottom right, black 50%, transparent 50%);
  grid-column: 2;
}

.disabled * {
  color: gray;
  border-color: lightgray;
}
