.game {
  border-radius: 0.2rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  background-color: var(--dark-secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.game .message {
  align-self: stretch;
  background-color: var(--tertiary-color);
  border-bottom: var(--border);
  box-shadow: 0 10px 10px -10px #3c3c3c;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.game button:not(.rotate):not(.square) {
  margin-bottom: 1rem;
}

.game .start-game.start-game {
  position: absolute;
  top: 50vh;
  font-size: 1.5rem;
  padding: 1.5rem 3rem;
}

.game-areas {
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template: repeat(2, max-content) / repeat(2, 1fr);
  column-gap: 1rem;
}

.game-area {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
}

.gameboard {
  display: grid;
  width: max-content;
  border: 0.1rem solid black;
  background-color: white;
}

.square {
  border: 0.05rem solid black;
  position: relative;
  background-color: transparent;
  padding: 0;
  display: flex;
}

.play .square, .square.with-background-ship {
  transform-style: preserve-3d;
}

.play .square .ship, .square.with-background-ship .ship {
  transform: translateZ(-1px);
}

.square.hit {
  color: var(--dark-tertiary-color);
}

.square.miss {
  color: black;
}

.square.legal-border {
  background-color: rgba(0, 128, 0, 0.5);
}

.square.error-border {
  background-color: rgba(255, 0, 0, 0.5);
}

.play:not(.disabled) .square.clickable {
  cursor: pointer;
}

.play:not(.disabled) .square.clickable:hover {
  background-color: var(--light-secondary-color);
}

.marker {
  width: 100%;
  align-self: center;
}

.hit .marker {
  font-weight: 900;
  font-size: 170%;
}

.miss .marker {
  font-size: 50%;
}

.ships {
  margin-top: 1rem;
  padding: 1rem;
  min-width: 75%;
  background-color: white;
  border: 2px solid black;
  border-radius: 0.2rem;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ship {
  position: relative;
  grid-column-end: span 1;
  display: grid;
  z-index: 1;
}

.ship.on-gameboard {
  position: absolute;
}

.ship-square.full {
  background-color: var(--secondary-color);
}

.ship[data-orientation="0"] .ship-square.full {
  grid-column: 1 / span 2;
}

.ship[data-orientation="1"] .ship-square.full {
  grid-row: 1 / span 2;
}

.ship-square.top-left {
  background-image: linear-gradient(to bottom right, transparent 50%, var(--secondary-color) 50%);
  grid-column: 1;
}

.ship[data-orientation="1"] .ship-square.top-left {
  grid-row: 1;
}

.ship-square.top-right {
  background-image: linear-gradient(to bottom left, transparent 50%, var(--secondary-color) 50%);
  grid-column: 2;
}

.ship[data-orientation="1"] .ship-square.top-right {
  grid-column: -2;
  grid-row: 1;
}

.ship-square.bottom-left {
  background-image: linear-gradient(to bottom left, var(--secondary-color) 50%, transparent 50%);
  grid-column: 1;
}

.ship[data-orientation="1"] .ship-square.bottom-left {
  grid-row: 2;
}

.ship-square.bottom-right {
  background-image: linear-gradient(to bottom right, var(--secondary-color) 50%, transparent 50%);
  grid-column: 2;
}

.ship[data-orientation="1"] .ship-square.bottom-right {
  grid-column: -2;
  grid-row: 2;
}

.invisible .ship-square {
  background-image: none;
  background-color: transparent;
}

*[draggable="true"] .ship-square {
  cursor: pointer;
}

.dragging .ship-square {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.ship button.rotate {
  width: 100%;
  padding: 0;
  background-color: transparent;
  border: none;
  grid-row: 1;
  grid-column: 3 / span 2;
}

.ship button.rotate img {
  width: 100%;
}

.ship[data-orientation="1"] button.rotate {
  grid-row: 3 / span 2;
  grid-column: 1;
}

.invisible button.rotate {
  visibility: hidden;
}

.disabled * {
  border-color: lightgray;
}

.disabled .gameboard-label {
  color: lightgray;
}

.set-up .remaining-ships, .disabled .ships, .play .ships, .play .ship button.rotate {
  display: none;
}

.play:not(.disabled) .ship-square.full {
  background-color: var(--light-secondary-color);
}

.play:not(.disabled) .ship-square.top-left {
  background-image: linear-gradient(to bottom right, transparent 50%, var(--light-secondary-color) 50%);
}

.play:not(.disabled) .ship-square.top-right {
  background-image: linear-gradient(to bottom left, transparent 50%, var(--light-secondary-color) 50%);
}

.play:not(.disabled) .ship-square.bottom-left {
  background-image: linear-gradient(to bottom left, var(--light-secondary-color) 50%, transparent 50%);
}

.play:not(.disabled) .ship-square.bottom-right {
  background-image: linear-gradient(to bottom right, var(--light-secondary-color) 50%, transparent 50%);
}

@media (max-width: 850px) {
  .game-areas {
    grid-template: repeat(2, max-content) / 1fr;
    row-gap: 1rem;
  }

  .set-up.disabled {
    display: none;
  }
}

@media (max-width: 560px) {
  .game .message {
    padding: 0.5rem;
    font-size: 1rem;
    max-width: calc(100vw - 1rem - 4px);
    min-height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .game-areas {
    padding: 0.5rem;
  }
}

@media (min-height: 100vw) {
  .game {
    min-height: 80vh;
  }
}
