.info {
  width: max-content;
  min-width: 40vw;
  margin: 10vh auto 1rem;
  padding: 1.5rem;
  border-radius: 0.2rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  background-color: var(--dark-secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.info .heading {
  font-size: 2rem;
  -webkit-text-stroke: 2px var(--tertiary-color);
}

@media (max-width: 560px) {
  .info {
    padding: 0.5rem;
    min-width: 70vw;
  }
}
