.mode-selection {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.mode-selection.mode-selection.mode-selection button {
  background-color: var(--dark-secondary-color);
  font-size: 1.5rem;
  padding: 1rem 2rem;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mode-selection.mode-selection.mode-selection button:hover {
  background-color: var(--secondary-color);
}

.mode-selection button img {
  width: 8rem;
}
