.pass-device {
  min-height: 80vh;
  max-width: 100vw;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 0.2rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  background-color: var(--dark-secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

@media (max-width: 560px) {
  .pass-device {
    padding: 0.5rem;
    font-size: 1.15rem;
  }
}
