.player-set-up {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.player-set-up form {
  padding: 1rem;
  border-radius: 0.2rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  background-color: var(--dark-secondary-color);
  align-items: center;
}

@media (max-width: 560px) {
  .player-set-up form {
    padding: 1rem 0.5rem;
  }
}
